.analysisFormContainer {
  position: fixed;
  z-index: 1000;
  top: 10px;
  right: 10px;
}

.analysisForm {
  padding: 20px;
  color: 'black';
  opacity: 60%;
  height: 'auto';
  width: 60vh;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    opacity: 100%;
  }
}

.analysisOpenButton {
  position: fixed !important;
  z-index: 1000;
  bottom: 100px;
  right: 40px;
}
